---
layout: layout.njk
permalink: /agent/edit/
---
<script>
    let theTable = "agent";
    let theFields = "id,name,email,url";
    let foreignKeys = "";
    //set the loop up table
    let lookUps = []
</script>
{% include "admin/table-edit.njk" %}
