---
layout: layout.njk
permalink: /agent/new/
---
<script>
    let theTable = "agent";
    let theFields = "name,email,url";
    let foreignKeys = "";
    //set the loop up table
    let lookUps = []
</script>
{% include "admin/table-new.njk" %}