---
layout: layout.njk
permalink: /{{env.LEVEL2NAME}}/new/
---
<script>
    let theTable = "property";
    let theFields = "adminId,name,paymentAddress,address_1,address_2,address_3,address_4,address_5,address_6,bathrooms,bedrooms,localCost,taxesCost,currentlyRented";
    let foreignKeys = "";
    //set the loop up table
    let lookUps = [];

</script>
{% include "admin/table-new.njk" %}