---
layout: layout.njk
permalink: /property/payment/edit/
---
<script>
    let theTable = "rental_payment";
    let theFields = "id,name,description,amount,datePaid,rentalId";
    let foreignKeys = "";
    let lookUps = [{"table":"rental_agreement","key":"rentalId","foreignKey":"propertyId","value":window.localStorage.currentDataItemId}]
</script>
{% include "admin/table-edit.njk" %}
