---
layout: layout.njk
permalink: /property/payment/edit/
---
<script>
    let theTable = "rental_payment";
    let theFields = "id,description,amount,date_paid,rentalId";
    let foreignKeys = "";
    let lookUps = "rental_agreement";
    let lookUpIds = "rentalId";
</script>
{% include "admin/table-edit.njk" %}
