---
layout: layout.njk
permalink: /property/cost/new/
---
<script>
    let theTable = "rental_cost";
    let theFields = "type,description,amount,date_paid,propertyId,rentalId";
    let foreignKeys = {"id":"propertyId"}
    let lookUps = "rental_agreement,property_distribution";
</script>
{% include "admin/table-new.njk" %}