---
layout: layout.njk
permalink: /property/tokens/
crumb : /property/token/
fields : ["id","name","createdAt"]
title : tokens
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    //set the table you want to insert for
    let theTable = "property_token";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = {"id":"propertyId"}
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 1;
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}