---
layout: layout.njk
permalink: /property/edit/
---
<script>
    let theTable = "property";
    let theFields = "id,name,address_1,address_2,address_3,address_4,address_5,address_6,bathrooms,bedrooms,local_cost,taxes_cost";
    let foreignKeys = "";
    let lookUps = "";
    let lookUpIds = "";
</script>
{% include "admin/table-edit.njk" %}
