---
layout: layout.njk
permalink: /property/token/new/
crumb : /property/
---
<script>
    //set the table you want to insert for
    let theTable = "property_token";
    //set the fields you want to return, leave it blank for all.
    let theFields = "propertyId,name,issuer,address,description,total_supply";
    //set the primary table id
    let foreignKeys = {"id":"propertyId"}
    //set the loop up table
    let lookUps = []
</script>
{% include "admin/table-new.njk" %}