---
layout: layout.njk
permalink: /property/owner/new/
---
<script>
    let theTable = "property_owner";
    let theFields = "address,tokenAmount";
    let foreignKeys = {"id":"propertyId"}
    let lookUps = [{"table":"rental_agreement","key":"rentalId","foreignKey":"propertyId","value":window.localStorage.currentDataItemId}]
</script>
{% include "admin/table-new.njk" %}