---
layout: layout.njk
permalink: /property/distributions/
crumb : /property/distribution/
fields : ["id","name","amount","datePaid","createdAt"]
title : distributions
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    let theTable = "property_distribution";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = "";
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 0;
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}