---
layout: layout.njk
permalink: /property/payment/new/
---
<script>
    let theTable = "rental_payment";
    let theFields = "type,description,amount,date_paid,propertyId,rentalId";
    let foreignKeys = {"id":"propertyId","rentalId":"rentalId"}
</script>
{% include "admin/table-new.njk" %}