---
layout: layout.njk
permalink: /property/report/
---
{% set theJs %}
    {% include 'property-report.js' %}
{% endset %}
<div class="d-none" id="propertydiv">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">PROPERTY</h1>
		<a href="javascript:history.back()" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-backward fa-sm text-white-50"></i> Back</a>
	</div>
	<div class="card shadow mb-4 " >
		<div class="table-responsive" id="property-table">
		  
		</div>
	</div>
	 
	<div class="card shadow mb-4">
	    <div class="card-header py-3">
	        <h6 class="m-0 font-weight-bold text-primary">Agreements</h6>
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="rental-aggrement-table" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
		                	<th>Name</th>
		                	<th>Amount</th>
		                	<th>Deposit</th>
		                	<th>Start Date</th>
		                	<th>End Date</th>
		                	<th>Active</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                    	<th>ID</th>
		                	<th>Name</th>
		                	<th>Amount</th>
		                	<th>Deposit</th>
		                	<th>Start Date</th>
		                	<th>End Date</th>
		                	<th>Active</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>


	<!-- owners table -->
	<div class="card shadow mb-4">
	    <div class="card-header py-3">
	        <h6 class="m-0 font-weight-bold text-primary">Owners</h6>
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="ownerstable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Name</th>
	                        <th>Email</th>
	                        <th>Token</th>
	                        <th>Share (%)</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Name</th>
	                        <th>Email</th>
	                        <th>Token</th>
	                        <th>Share (%)</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>

	<!-- PAID IN TABLE -->
	<div class="card shadow mb-4">
	    <div class="card-header py-3">
	        <h6 class="m-0 font-weight-bold text-primary">PAID IN</h6>
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="paidintable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Type</th>
	                        <th>Description</th>
	                        <th>Amount</th>
	                        <th>Date</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>	                    	
	                        <th colspan="3" style="text-align:right">Total:</th>
	                        <th id="paidintotal"></th>	                        
	                    </tr>
	                </tfoot>
	                <tbody>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>

	<!-- PAID OUT TABLE -->
	<div class="card shadow mb-4">
	    <div class="card-header py-3">
	        <h6 class="m-0 font-weight-bold text-primary">PAID OUT</h6>
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="paidouttable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Name</th>
	                        <th>Email</th>
	                        <th>Token</th>
	                        <th>Date</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th colspan="4" style="text-align:right">Total:</th>
	                        <th id="paidouttotal"></th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>

	<!-- DISTRIBUTIONS  TABLE -->
	<div class="card shadow mb-4">
	    <div class="card-header py-3">
	        <h6 class="m-0 font-weight-bold text-primary">DISTRIBUTIONS</h6>
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="disttable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Payment to</th>
	                        <th>Description</th>
	                        <th>Amount</th>
	                        <th>Date</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th colspan="4" style="text-align:right"> Total Distributions:</th>
	                        <th id="totaldist"></th>
	                    </tr>
	                    <tr>
	                        <th colspan="4" style="text-align:right"> Total Left:</th>
	                        <th id="totalleft"></th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
		
</div>
{% if env.ENVIRONMENT == 'local' %}
    <script type="text/javascript">{{theJs | safe}}</script>
{% else %}
    <script type="text/javascript">{{theJs | jsmin | safe}}</script>
{% endif %}