---
layout: layout.njk
permalink: /property/owner/new/
---
<script>
    let theTable = "property_owner";
    let theFields = "propertyId,name,address,tokenAmount,userId";
    let foreignKeys = {"id":"propertyId"}
    //set the loop up table
    let lookUps = [{"table":"user","key":"userId","foreignKey":"","value":""}]
</script>
{% include "admin/table-new.njk" %}