---
layout: layout.njk
permalink: /property/payments/
crumb : /property/payment/
fields : ["id","description","amount","datePaid","createdAt"]
title : payments
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    let theTable = "rental_payment";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = {"id":"propertyId"};
    let checkAdmin = 0;
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 0;
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}