---
layout: layout.njk
permalink: /property/owner/new/
---
<script>
    let theTable = "property_owner";
    let theFields = "tokenAmount,userId,propertyTokenId";
    let foreignKeys = ""
    //set the loop up table

    let lookUps = [{"table":"user","key":"userId","foreignKey":"","value":""},{"table":"property_token","key":"propertyTokenId","foreignKey":"","value":""}]
</script>
{% include "admin/table-new.njk" %}