---
layout: layout.njk
permalink: /property/distribution/new/
---
<script>
    let theTable = "property_distribution";
    let theFields = "name,description,amount,datePaid";
    let foreignKeys = {"id":"propertyId"}
    let lookUps = [{"table":"rental_agreement","key":"rentalId","foreignKey":"propertyId","value":window.localStorage.currentDataItemId}]
</script>
{% include "admin/table-new.njk" %}