---
layout: layout.njk
permalink: /property/distribution/new/
---
<script>
    let theTable = "property_distribution";
    let theFields = "propertyId,name,description,amountInternational,datePaid,propertyOwnerId";
    let foreignKeys = {"id":"propertyId"}
    var blockchainNetwork = "{{env.BLOCKCHAINNETWORK}}";
    var network = "{{env.NETWORK}}";
    var RPCUrl = "{{env.RPCURL}}";
    var blockExplorer = "{{env.BLOCKEXPLORER}}"
</script>
{% set theJs %}
    {% include 'admin/table-new.js' %}
{% endset %}
{% set theJsExtend %}
    {% include 'property-distributions-new.js' %}
{% endset %}

<!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="data-header"></h1>
        <a href="javascript:history.back()" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-backward fa-sm text-white-50"></i> Back</a>
    </div>
<p class="mb-4">
</p>
<div id="propertydiv">
    <div class="card shadow mb-4 " >
        <div class="table-responsive" id="dist-table">
          
        </div>
    </div>
</div>


    <div id="formInputs">
        <div class="form-group">
            <label>% to leave for future payments</label>
            <input type="text" class="form-control form-control-user" name="inp-perLeave" id="inp-perLeave" aria-describedby="perLeave" value="10" placeholder="Enter a %" >
            <span class="text-danger d-none" id="error-balance"></span>  
        </div>
         <div class="form-group">
            <label>Use a Custom BNB Amount</label>
            <input type="text" class="form-control form-control-user" name="inp-customAmount" id="inp-customAmount" aria-describedby="customAmount" value="0" placeholder="Enter a custom amount" >
            <span class="text-danger d-none" id="error-customAmount"></span>  
        </div>          
    </div>

        <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Owners</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="owners-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Payment Address</th>
                            <th>Token Amount</th>
                            <th>Amount to pay</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Payment Address</th>
                            <th>Token Amount</th>
                            <th>Amount to pay</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<button class="btn btn-primary btn-user btn-block" id="btn-pay" >
    PAY
</button> 
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

{% if env.ENVIRONMENT == 'local' %}
    <script type="text/javascript">{{theJsExtend | safe}}</script>
{% else %}
    <script type="text/javascript">{{theJsExtend | jsmin | safe}}</script>
{% endif %}