---
layout: layout.njk
permalink: /property/owners/
crumb : /property/owner/
fields : ["id","name","address","tokenAmount","createdAt"]
title : owners
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    let theTable = "property_owner";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = {"id":"propertyId"}
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 0;
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}