---
layout: layout.njk
permalink: /property/owner/edit/
---
<script>
    let theTable = "property_owner";
    let theFields = "id,tokenAmount,userId,propertyTokenId";
    let foreignKeys = ""
    let lookUps = [{"table":"user","key":"userId","foreignKey":"","value":""},{"table":"property_token","key":"propertyTokenId","foreignKey":"","value":""}]
</script>
{% include "admin/table-edit.njk" %}