---
layout: layout.njk
permalink: /property/cost/edit/
---
<script>
    let theTable = "rental_cost";
    let theFields = "id,description,amount,date_paid";
</script>
{% include "admin/table-edit.njk" %}
