---
layout: layout.njk
permalink: /property/rental-agreements/
crumb : /property/rental-agreement/
fields : ["id","name","amount","active","createdAt"]
title : rental agreements
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    let theTable = "rental_agreement";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = {"id":"propertyId"};
    let checkAdmin = 0;
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 0;
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}