---
layout: layout.njk
permalink: /property/distribution/edit/
---
<script>
    let theTable = "property_distribution";
    let theFields = "id,name,description,amount,datePaid,propertyOwnerId";
    let foreignKeys = {"id":"propertyId"}
    let lookUps = [{"table":"property_owner","key":"propertyOwnerId","foreignKey":"","value":""}]
</script>
{% include "admin/table-edit.njk" %}
