---
layout: layout.njk
permalink: /property/token/edit/
---
<script>
    //set the table you want to insert for
    let theTable = "property_token";
    //set the fields you want to return, leave it blank for all.
    let theFields = "id,name,issuer,address,description,totalSupply";
    //set the primary table id
    let foreignKeys = {"id":"propertyId"}
    //set the loop up table
    let lookUps = [{"table":"agent","key":"agentId","foreignKey":"","value":""},{"table":"tenant","key":"tenantId","foreignKey":"id","value":window.localStorage.currentDataItemId}]
</script>
{% include "admin/table-edit.njk" %}
