---
layout: layout.njk
permalink: /property/cost/new/
---
<script>
    let theTable = "rental_cost";
    let theFields = "type,description,amount,date_paid,propertyId,rentalId";
    let foreignKeys = {"id":"propertyId"}
    let lookUps = [{"table":"rental_agreement","key":"rentalId","foreignKey":"propertyId","value":window.localStorage.currentDataItemId}]
</script>
{% include "admin/table-new.njk" %}