---
layout: layout.njk
permalink: /invoice/new/
---
<script>
    let theTable = "crypto_payments";
    let theFields = "name,amountUsd,orderId,adminId"
    let guidFields = "orderId";
</script>
{% include "admin/table-new.njk" %}