---
layout: layout.njk
permalink: /{{env.LEVEL1NAME}}/
crumb : /invoice/
fields : ["id","name","amountUsd","confirmed","orderId","paymentType","createdAt"]
headerFields : ["id","Name","Amount","Paid","Order Id","Payment","Created At"]

title :
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    let theTable = "crypto_payments";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    //set the primary table id
    let foreignKeys = "";
    let checkAdmin = 1;
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 0;
    let customButton = "";
    let customSelect = `
            <select onchange="customSelectChange(this)" class="form-select" aria-label="Property select" name="propertySelect-[counter]" id="propertySelect-[counter]">
                <option value="0">Please select</option>
                <option value="${adminUrl}payment/?orderId=[orderid]">View</option>
                <option value="${apiUrl}crypto/check/?orderId=[orderid]">Check</option>
        </select>`;
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
<script>
    //clear the currentDataItem
    window.localStorage.currentDataItemId = "";
</script>
{%  include "admin/table-index.njk" %}