---
layout: layout.njk
permalink: /{{env.LEVEL1NAME}}/
crumb : /invoice/
fields : ["id","name","amountUsd","confirmed","orderId","createdAt"]
headerFields : ["id","Name","Amount","Paid","order Id",Created At"]

title :
---
<script>
    //store the crumb 
    let theCrumb = "{{ crumb }}";
    let theTable = "crypto_payments";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    //set the primary table id
    let foreignKeys = "";
    let checkAdmin = 1;
    let getOnlyTableSchema = 0;
    let allowOnlyOne = 0;
    let customButton = `<a href="{{adminUrl}}/payment/?orderId=[orderid]" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" target="_blank"><i class="fas fa-globe fa-sm text-white-50"></i> View</a>`
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
<script>
    //clear the currentDataItem
    window.localStorage.currentDataItemId = "";
</script>
{%  include "admin/table-index.njk" %}